pipeline/pipeline_DF2_Panel.json
{
	"name": "pipeline_DF2_Panel",
	"properties": {
		"activities": [
			{
				"name": "Copy Logs Query",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "setMaxPanelV3",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from [dbo].[PANEL] WHERE PANEL_ID \n> @{variables('MAX_PANEL_ID')}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQLDynamicDS",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "COLOR_TOOL"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedTextDymanicCSVFiles",
						"type": "DatasetReference",
						"parameters": {
							"Container_Name": "test",
							"File_Name": "PANEL_APP.csv"
						}
					}
				]
			},
			{
				"name": "DF2_Panel",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF2_Panel",
						"type": "DataFlowReference",
						"datasetParameters": {
							"SRInCsv": {
								"TableName": "InCSV_NEW"
							},
							"SRTableUserProfile": {
								"TableName": "USER_PROFILE"
							},
							"SRTablePanel": {
								"TableName": "PANEL"
							},
							"SRInCsvTable": {
								"TableName": "InCSV_NEW"
							},
							"SKTablePanel": {
								"TableName": "PANEL"
							},
							"SKFileRejectionCSV": {
								"Container_Name": "test",
								"File_Name": "panelRej.csv"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			},
			{
				"name": "setMaxPanelV3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DF2_Panel",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "MAX_PANEL_ID",
					"value": {
						"value": "@last(split( string(activity('DF2_Panel').output.runStatus.output.SKCacheMAXPANELID.value[0].Max_PanelID),':')) ",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"MAX_PANEL_ID": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}