pipeline/pipeline_DF2_Panel.json
{
	"name": "pipeline_DF2_Panel",
	"properties": {
		"activities": [
			{
				"name": "Copy Logs Query",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "setMaxPanelV3",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "variables('Max_PanelID')\nselect * from [dbo].[PANEL] WHERE PANEL_ID \n> @{variables('Max_PanelID')}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQLDynamicDS",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "COLOR_TOOL"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedTextDymanicCSVFiles",
						"type": "DatasetReference",
						"parameters": {
							"Container_Name": "test",
							"File_Name": "PANEL_APP.csv"
						}
					}
				]
			},
			{
				"name": "DF2_Panel",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflow_Test_Cache2",
						"type": "DataFlowReference",
						"datasetParameters": {
							"SRPanel": {
								"TableName": "Panel"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			},
			{
				"name": "setMaxPanelV3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DF2_Panel",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Max_PanelID",
					"value": {
						"value": "@last(split( string(activity('dataflow_Test_Cache2').output.runStatus.output.cache.value[0].\nMax_PanelID),':')) ",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Max_COLOR_TOOL_ID": {
				"type": "String"
			},
			"Max_PANEL_ID": {
				"type": "String"
			},
			"Max_PanelID": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}