pipeline/pipeline_DF6_ColorCoordinateTest.json
{
	"name": "pipeline_DF6_ColorCoordinateTest",
	"properties": {
		"activities": [
			{
				"name": "DF6_COLORCOORDINATE",
				"type": "ExecuteDataFlow",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF6_COLORCOORDINATE",
						"type": "DataFlowReference",
						"datasetParameters": {
							"SRInCSV": {
								"TableName": "InCSV_NEW"
							},
							"SRPanelTable": {
								"TableName": "PANEL"
							},
							"SKCOLORCOORTable": {
								"TableName": "COLOR_COORDINATE"
							},
							"SKCOLORCOORDINATE": {
								"TableName": "COLOR_COORDINATE"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('SRGetNewInCSV_NEW').output\n\n",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['data'][0]['id']"
											},
											"sink": {
												"name": "ID",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['data'][0]['email']"
											},
											"sink": {
												"name": "email",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['data'][0]['first_name']"
											},
											"sink": {
												"name": "first_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['data'][0]['last_name']"
											},
											"sink": {
												"name": "last_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['data'][0]['avatar']"
											},
											"sink": {
												"name": "avatar",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "RestAPIData",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "SQLDynamicDS",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "API_Response"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "SET_MAX_COLOR_COORDINATE_ID",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "DF6_COLORCOORDINATE",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "SET_MAX_COLOR_COORDINATE_ID",
					"value": {
						"value": "@activity('DF6_COLORCOORDINATE').output.runStatus.output.SKCacheMAXCOLORCORDINATEID.value[0].Max_PANEL_COLOR_COORDINATE_ID\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetNewColorCorData",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "SET_MAX_COLOR_COORDINATE_ID",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM  COLOR_COORDINATE CC \nwhere PANEL_COLOR_COORDINATE_ID > @{variables('Max_PANEL_COLOR_COORDINATE_ID')}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLDynamicDS",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "COLOR_COORDINATE"
						}
					}
				}
			},
			{
				"name": "SRGetNewInCSV_NEW",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select * from [dbo].[InCSV_NEW]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLDynamicDS",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "InCSV_NEW"
						}
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			},
			{
				"name": "SRGetNewPANEL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select * from [dbo].[PANEL]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLDynamicDS",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "PANEL"
						}
					}
				}
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "SRGetNewPANEL",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "SRGetNewInCSV_NEW",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLS",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": []
			}
		],
		"variables": {
			"First_name": {
				"type": "String"
			},
			"TableData": {
				"type": "Array"
			},
			"APIDATA": {
				"type": "String"
			},
			"MAX_COLOR_TOOL_ID": {
				"type": "Integer"
			},
			"SET_MAX_COLOR_COORDINATE_ID": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}