pipeline/pipeline_1_DataflowV3.json
{
	"name": "pipeline_1_DataflowV3",
	"properties": {
		"activities": [
			{
				"name": "dataflowV3",
				"description": "newedit",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflow_dynamic_1_Complete_v3",
						"type": "DataFlowReference",
						"datasetParameters": {
							"SourceIncsv": {
								"TableName": "InCSV_NEW"
							},
							"SourceInCSVtable": {
								"TableName": "InCSV_NEW"
							},
							"SourceColorToolTable": {
								"TableName": "COLOR_TOOL"
							},
							"SourceColorToolAfterInsert": {
								"TableName": "COLOR_TOOL"
							},
							"SinkRejectedFile1": {
								"Container_Name": "test",
								"File_Name": "Rejection_color_tool.csv"
							},
							"SinkTableColorTool3": {
								"TableName": "COLOR_TOOL"
							},
							"SinkTableColorToolLog3": {
								"TableName": "COLOR_TOOL_Log"
							}
						}
					},
					"compute": {
						"coreCount": 32,
						"computeType": "MemoryOptimized"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			},
			{
				"name": "Copy data to Color_Tool CSV",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ColorToolId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from [dbo].[COLOR_TOOL] where COLOR_TOOL_ID > 1",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "COLOR_TOOL_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "COLOR_TOOL_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "COLOR_TOOL_NAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "COLOR_TOOL_NAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "COLOR_TOOL_TYPE_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "COLOR_TOOL_TYPE_ID",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQLDynamicDS",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "COLOR_TOOL"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedTextDymanicCSVFiles",
						"type": "DatasetReference",
						"parameters": {
							"Container_Name": "test",
							"File_Name": "Color_Tool_APP.csv"
						}
					}
				]
			},
			{
				"name": "ColorToolId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "dataflowV3",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "MaxColorId",
					"value": {
						"value": "@activity('dataflowV3').output.runStatus.output.sinkcache.value",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"csv": {
				"type": "String"
			},
			"MaxColorId": {
				"type": "String"
			}
		},
		"annotations": []
	}
}