pipeline/pipeline_DF6_ColorCoordinate_copy1.json
{
	"name": "pipeline_DF6_ColorCoordinate_copy1",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web2",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "APIDATA",
					"value": {
						"value": "@activity('Web2').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('First_name')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable3",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['data'][0]['id']"
											},
											"sink": {
												"name": "L",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['data'][0]['email']"
											},
											"sink": {
												"name": "A",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['data'][0]['first_name']"
											},
											"sink": {
												"name": "B",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['data'][0]['last_name']"
											},
											"sink": {
												"name": "C",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "RestAPIData",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "SQLDynamicDS",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "COLOR_COORDINATE"
									}
								}
							]
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "TableData",
								"value": {
									"value": "@activity('DF6_COLORCOORDINATE').output.runStatus.output.SKCOLORCOORDINATE.value[0].Scheme",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"relativeUrl": "https://reqres.in/api/users"
							},
							"linkedServiceName": {
								"referenceName": "WebLS123",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Set variable3",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Web1",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "APIDATA",
								"value": {
									"value": "@activity('Web1').output.value",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "DF6_COLORCOORDINATE",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF6_COLORCOORDINATE",
						"type": "DataFlowReference",
						"datasetParameters": {
							"SRInCSV": {
								"TableName": "InCSV_NEW"
							},
							"SRPanelTable": {
								"TableName": "PANEL"
							},
							"SKCOLORCOORDINATE": {
								"TableName": "COLOR_COORDINATE"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			},
			{
				"name": "Web2",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "DF6_COLORCOORDINATE",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"relativeUrl": "https://reqres.in/api/users"
				},
				"linkedServiceName": {
					"referenceName": "WebLS123",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy data3",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['data'][0]['id']"
								},
								"sink": {
									"name": "L",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['email']"
								},
								"sink": {
									"name": "A",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['first_name']"
								},
								"sink": {
									"name": "B",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['last_name']"
								},
								"sink": {
									"name": "C",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "RestAPIData",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQLDynamicDS",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "COLOR_COORDINATE"
						}
					}
				]
			}
		],
		"variables": {
			"First_name": {
				"type": "Array"
			},
			"TableData": {
				"type": "Array"
			},
			"APIDATA": {
				"type": "String"
			},
			"MAX_COLOR_TOOL_ID": {
				"type": "Integer"
			},
			"SET_MAX_COLOR_COORDINATE_ID": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}