pipeline/pipeline_DF6_ColorCoordinate_SCRIPT.json
{
	"name": "pipeline_DF6_ColorCoordinate_SCRIPT",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SRGetNewInCSV_NEW",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('SRGetNewInCSV_NEW').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "LookUpPanel",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT PANEL_ID FROM PANEL Where Name = '@{item().Color_Chip_Name}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SQLDynamicDS",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "PANEL"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "LookUpPanelID",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "LookUpPanel",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "LOOKUP_PANELID",
									"value": "@activity('LookUpPanel').output.value[0].PANEL_ID"
								}
							],
							"typeProperties": {
								"variableName": "LOOKUP_PANELID",
								"value": {
									"value": "@activity('LookUpPanel').output.value[0].PANEL_ID",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Script1",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "LookUpPanelID",
									"dependencyConditions": [
										"Completed"
									]
								},
								{
									"activity": "RestID",
									"dependencyConditions": [
										"Completed"
									]
								},
								{
									"activity": "RestGeometry",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabaseLS",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": "Insert into COLOR_COORDINATE (A,PANEL_ID,GEOMETRY,MEASUREMENT_SCHEME)  values ( @{variables('ID')} ,@{variables('LOOKUP_PANELID')} ,'substring(@{item().Geometry}, 0, 2)' ,'substring(@item().Scheme, 0, 2)')"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "AZURLColor",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"linkedServices": [
									{
										"referenceName": "RestServiceLS",
										"type": "LinkedServiceReference"
									}
								],
								"datasets": [
									{
										"referenceName": "RestAPIData",
										"type": "DatasetReference"
									}
								],
								"body": {
									"value": "{\"name\":\"temColor_Chip_Name\",\"job\":\"variablesLOOKUP_PANELID\"}",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "WebLS123",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "RestID",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "AZURLColor",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "ID",
								"value": "@activity('AZURLColor').output['id']"
							}
						},
						{
							"name": "LookupInCSV",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT Geometry FROM InCSV_NEW Where Color_Chip_Name = '@{item().Color_Chip_Name}'",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SQLDynamicDS",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "InCSV_NEW"
									}
								}
							}
						},
						{
							"name": "RestGeometry",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "LookupInCSV",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Geometry",
								"value": {
									"value": "@activity('LookupInCSV').output.value[0].Geometry",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "SRGetNewInCSV_NEW",
				"description": "v1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select * from [dbo].[InCSV_NEW]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLDynamicDS",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "InCSV_NEW"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "SKTableColorCor_COLORAPI_copy1",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['data'][0]['id']"
								},
								"sink": {
									"name": "ID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['email']"
								},
								"sink": {
									"name": "email",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['first_name']"
								},
								"sink": {
									"name": "first_name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['last_name']"
								},
								"sink": {
									"name": "last_name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['avatar']"
								},
								"sink": {
									"name": "avatar",
									"type": "String"
								}
							}
						],
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "RestAPIData",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQLDynamicDS",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "API_Response"
						}
					}
				]
			}
		],
		"variables": {
			"First_name": {
				"type": "String"
			},
			"TableData": {
				"type": "Array"
			},
			"APIDATA": {
				"type": "String"
			},
			"MAX_COLOR_TOOL_ID": {
				"type": "Integer"
			},
			"SET_MAX_COLOR_COORDINATE_ID": {
				"type": "Integer"
			},
			"LOOKUP_PANELID": {
				"type": "Integer"
			},
			"ID": {
				"type": "String"
			},
			"Geometry": {
				"type": "String"
			}
		},
		"annotations": []
	}
}