pipeline/pipeline_DF6_ColorCoordinate_SCRIPT.json
{
	"name": "pipeline_DF6_ColorCoordinate_SCRIPT",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SRGetNewInCSV_NEW",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('SRGetNewInCSV_NEW').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "LookUpPanel",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT PANEL_ID FROM PANEL Where Name = '@{item().Color_Chip_Name}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SQLDynamicDS",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "PANEL"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "LookUpPanelID",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "LookUpPanel",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "LOOKUP_PANELID",
									"value": "@activity('LookUpPanel').output.value[0].PANEL_ID"
								}
							],
							"typeProperties": {
								"variableName": "LOOKUP_PANELID",
								"value": {
									"value": "@activity('LookUpPanel').output.value[0].PANEL_ID",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Script1",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "LookUpPanelID",
									"dependencyConditions": [
										"Completed"
									]
								},
								{
									"activity": "RestID",
									"dependencyConditions": [
										"Completed"
									]
								},
								{
									"activity": "RestGeometry",
									"dependencyConditions": [
										"Completed"
									]
								},
								{
									"activity": "RestScheme",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabaseLS",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "Insert into COLOR_COORDINATE (A,PANEL_ID,GEOMETRY,MEASUREMENT_SCHEME)  values ( @{variables('ID')} ,@{variables('LOOKUP_PANELID')} ,'@{item().Geometry}' ,'@{item().Scheme}')",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "AZURLColor",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"linkedServices": [
									{
										"referenceName": "RestServiceLS",
										"type": "LinkedServiceReference"
									}
								],
								"datasets": [
									{
										"referenceName": "RestAPIData",
										"type": "DatasetReference"
									}
								],
								"body": {
									"value": "{\"name\":\"temColor_Chip_Name\",\"job\":\"variablesLOOKUP_PANELID\"}",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "WebLS123",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "RestID",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "AZURLColor",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "ID",
								"value": {
									"value": "@activity('AZURLColor').output['id']",
									"type": "Expression"
								}
							}
						},
						{
							"name": "LookupInCSV",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT Geometry FROM InCSV_NEW Where Color_Chip_Name = '@{item().Color_Chip_Name}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SQLDynamicDS",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "InCSV_NEW"
									}
								}
							}
						},
						{
							"name": "RestGeometry",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "LookupInCSV",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Geometry",
								"value": {
									"value": "@activity('LookupInCSV').output.value[0].Geometry",
									"type": "Expression"
								}
							}
						},
						{
							"name": "RestScheme",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "LookupInCSV2",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Scheme",
								"value": {
									"value": "@activity('LookupInCSV2').output.value[0].Scheme",
									"type": "Expression"
								}
							}
						},
						{
							"name": "LookupInCSV2",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT Scheme FROM InCSV_NEW Where Color_Chip_Name = '@{item().Color_Chip_Name}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SQLDynamicDS",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "InCSV_NEW"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "SRGetNewInCSV_NEW",
				"description": "v1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select * from [dbo].[InCSV_NEW]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLDynamicDS",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "InCSV_NEW"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"First_name": {
				"type": "String"
			},
			"TableData": {
				"type": "Array"
			},
			"APIDATA": {
				"type": "String"
			},
			"MAX_COLOR_TOOL_ID": {
				"type": "Integer"
			},
			"SET_MAX_COLOR_COORDINATE_ID": {
				"type": "Integer"
			},
			"LOOKUP_PANELID": {
				"type": "Integer"
			},
			"ID": {
				"type": "String"
			},
			"Geometry": {
				"type": "String"
			},
			"Scheme": {
				"type": "String"
			}
		},
		"annotations": []
	}
}