pipeline/pipeline_2_DataflowV3.json
{
	"name": "pipeline_2_DataflowV3",
	"properties": {
		"activities": [
			{
				"name": "Panel_Id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "dataflow_Test_Cache2",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Max_Panel_ID",
					"value": {
						"value": "@string(activity('dataflow_Test_Cache2').output.runStatus.output.cache.value[0])",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data to Panel CSV",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Panel_Id",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from [dbo].[PANEL] where PANEL_ID\n= @json(variables('Max_Panel_ID')).value",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "COLOR_TOOL_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "COLOR_TOOL_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "COLOR_TOOL_NAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "COLOR_TOOL_NAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "COLOR_TOOL_TYPE_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "COLOR_TOOL_TYPE_ID",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQLDynamicDS",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Panel"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedTextDymanicCSVFiles",
						"type": "DatasetReference",
						"parameters": {
							"Container_Name": "test",
							"File_Name": "PANEL_APP.csv"
						}
					}
				]
			},
			{
				"name": "dataflow_Test_Cache2",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflow_Test_Cache2",
						"type": "DataFlowReference",
						"datasetParameters": {
							"SRPanel": {
								"TableName": "Panel"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			}
		],
		"variables": {
			"csv": {
				"type": "String"
			},
			"MaxColorId": {
				"type": "String"
			},
			"Max_COLOR_TOOL_ID": {
				"type": "String"
			},
			"Max_Panel_ID": {
				"type": "String"
			},
			"Max_Panel_ID_val": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}