pipeline/pipeline_DF6_ColorCoordinate.json
{
	"name": "pipeline_DF6_ColorCoordinate",
	"properties": {
		"activities": [
			{
				"name": "DF6_COLORCOORDINATE",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF6_COLORCOORDINATE",
						"type": "DataFlowReference",
						"datasetParameters": {
							"SRInCSV": {
								"TableName": "InCSV_NEW"
							},
							"SRPanelTable": {
								"TableName": "PANEL"
							},
							"SKCOLORCOORDINATE": {
								"TableName": "COLOR_COORDINATE"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "DF6_COLORCOORDINATE",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://reqres.in/api/users"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "APIDATA",
					"value": {
						"value": "@activity('Web1').output.value\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"ID",
								"email",
								"first_name",
								"last_name"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['data'][0]['id']"
								},
								"sink": {
									"name": "ID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['email']"
								},
								"sink": {
									"name": "email",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['first_name']"
								},
								"sink": {
									"name": "first_name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['last_name']"
								},
								"sink": {
									"name": "last_name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['avatar']"
								},
								"sink": {
									"name": "avatar",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "RestAPIData",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQLDynamicDS",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "COLOR_COORDINATE"
						}
					}
				]
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('DF6_COLORCOORDINATE').output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Azure Function1",
							"type": "AzureFunctionActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "AZ",
								"method": "GET"
							},
							"linkedServiceName": {
								"referenceName": "AzureFunctionLS",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Azure Function1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "PANEL_COLOR_COORDINATE_ID",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "PANEL_COLOR_COORDINATE_ID",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "PANEL_ID",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "PANEL_ID",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "GEOMETRY",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "GEOMETRY",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "SPARKLE",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "SPARKLE",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "MEASUREMENT_SCHEME",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "MEASUREMENT_SCHEME",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "L",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "L",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "A",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "A",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "B",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "B",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "C",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "C",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "ILLUMINANT_OBSERVE",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "ILLUMINANT_OBSERVE",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SQLDynamicDS",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "COLOR_COORDINATE"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DelimitedTextDymanicCSVFiles",
									"type": "DatasetReference",
									"parameters": {
										"Container_Name": "test",
										"File_Name": "AZ.csv"
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"First_name": {
				"type": "String"
			},
			"TableData": {
				"type": "Array"
			},
			"APIDATA": {
				"type": "String"
			}
		},
		"annotations": []
	}
}