pipeline/pipeline_DF6_ColorCoordinate_copy1.json
{
	"name": "pipeline_DF6_ColorCoordinate_copy1",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "First_name",
					"value": {
						"value": "@activity('Web1').output.value\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('DF6_COLORCOORDINATE').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data2",
							"type": "Copy",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "Set variable2",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "PANEL_COLOR_COORDINATE_ID",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "PANEL_COLOR_COORDINATE_ID",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "PANEL_ID",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "PANEL_ID",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "GEOMETRY",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "GEOMETRY",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "SPARKLE",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "SPARKLE",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "MEASUREMENT_SCHEME",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "MEASUREMENT_SCHEME",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "L",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "L",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "A",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "A",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "B",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "B",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "C",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "C",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "ILLUMINANT_OBSERVE",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "ILLUMINANT_OBSERVE",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SQLDynamicDS",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "COLOR_COORDINATE"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DelimitedTextDymanicCSVFiles",
									"type": "DatasetReference",
									"parameters": {
										"Container_Name": "test",
										"File_Name": "AZ.csv"
									}
								}
							]
						},
						{
							"name": "DF6_COLORCOORDINATE",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DF6_COLORCOORDINATE",
									"type": "DataFlowReference",
									"datasetParameters": {
										"SRInCSV": {
											"TableName": "InCSV_NEW"
										},
										"SRPanelTable": {
											"TableName": "PANEL"
										},
										"SKCOLORCOORDINATE": {
											"TableName": "COLOR_COORDINATE"
										}
									},
									"linkedServiceParameters": {
										"SKCOLORCOORDINATE": {
											"schemaLinkedService": {
												"TableName": "COLOR_COORDINATE"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Web1",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "TableData",
								"value": {
									"value": "@activity('Web1').output",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "DF6_COLORCOORDINATE",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"relativeUrl": "https://reqres.in/api/users"
							},
							"linkedServiceName": {
								"referenceName": "WebLS123",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"First_name": {
				"type": "Array"
			},
			"TableData": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}