pipeline/pipeline_DF3_ColorChip.json
{
	"name": "pipeline_DF3_ColorChip",
	"properties": {
		"activities": [
			{
				"name": "DF3_ColorChip",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF3_ColorChip",
						"type": "DataFlowReference",
						"datasetParameters": {
							"SRInCsv": {
								"TableName": "InCSV_NEW"
							},
							"SRTableColorChip": {
								"TableName": "COLOR_CHIP"
							},
							"SRTablePanel": {
								"TableName": "PANEL"
							},
							"SRInCsvRej": {
								"TableName": "InCSV_NEW"
							},
							"SRTableColorTool": {
								"TableName": "COLOR_TOOL"
							},
							"SKTableColorChip": {
								"TableName": "COLOR_CHIP"
							},
							"SKFileColorCHIP": {
								"Container_Name": "test",
								"File_Name": "colorchipRejected.csv"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			},
			{
				"name": "SET_MAX_COLOR_CHIP_ID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DF3_ColorChip",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "MAX_PANEL_ID",
					"value": {
						"value": "@activity('DF3_ColorChip').output.runStatus.output.SKCacheMAXCOLORCHIPID.value[0].MAX_COLOR_CHIP_ID",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Log data to ColorChip CSV",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SET_MAX_COLOR_CHIP_ID",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from [dbo].[COLOR_CHIP] where COLOR_CHIP_ID > @{variables('MAX_COLOR_CHIP_ID')}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "COLOR_CHIP_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "COLOR_CHIP_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PANEL_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PANEL_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CHIP_SOURCE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CHIP_SOURCE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATED_DATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LAST_UPDATED_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "COLOR_TOOL_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "COLOR_TOOL_ID",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQLDynamicDS",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "COLOR_CHIP"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedTextDymanicCSVFiles",
						"type": "DatasetReference",
						"parameters": {
							"Container_Name": "test",
							"File_Name": "Color_Chip_App.csv"
						}
					}
				]
			}
		],
		"variables": {
			"MAX_PANEL_ID": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}