pipeline/PL_ColorDataMosiac.json
{
	"name": "PL_ColorDataMosiac",
	"properties": {
		"activities": [
			{
				"name": "DF3_ColorChip",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Copy data to Panel CSV",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF3_ColorChip",
						"type": "DataFlowReference",
						"datasetParameters": {
							"SRInCSV": {
								"TableName": "InCSV_NEW"
							},
							"SRColorTool": {
								"TableName": "COLOR_TOOL"
							},
							"SRPanel": {
								"TableName": "PANEL"
							},
							"SRCSVIn": {
								"TableName": "InCSV_NEW"
							},
							"SKColorCHIP": {
								"TableName": "COLOR_CHIP"
							},
							"SK1": {
								"TableName": "COLOR_CHIP"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			},
			{
				"name": "Copy Data to ColorChip Csv",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DF3_ColorChip",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from [dbo].[COLOR_CHIP] where COLOR_CHIP_ID > 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "COLOR_CHIP_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "COLOR_CHIP_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PANEL_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PANEL_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CHIP_SOURCE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CHIP_SOURCE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATED_DATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LAST_UPDATED_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "COLOR_TOOL_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "COLOR_TOOL_ID",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQLDynamicDS",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "COLOR_CHIP"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedTextDymanicCSVFiles",
						"type": "DatasetReference",
						"parameters": {
							"Container_Name": "test",
							"File_Name": "Color_Chip_App.csv"
						}
					}
				]
			},
			{
				"name": "DF2_Panel",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Copy data to Color_Tool CSV",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF2_Panel",
						"type": "DataFlowReference",
						"datasetParameters": {
							"SRInCsv": {
								"TableName": "InCSV_NEW"
							},
							"SRUserProfile": {
								"TableName": "USER_PROFILE"
							},
							"SRPanel": {
								"TableName": "PANEL"
							},
							"SRInCsvTable": {
								"TableName": "InCSV_NEW"
							},
							"SKPanelTable": {
								"TableName": "PANEL"
							},
							"SKRejectionCSV": {
								"Container_Name": "test",
								"File_Name": "Panel_Rejction_App.csv"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			},
			{
				"name": "DF1_ColorTool",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF1_ColorTool",
						"type": "DataFlowReference",
						"datasetParameters": {
							"SRINCSV": {
								"TableName": "InCSV_NEW"
							},
							"SRInCSVtable": {
								"TableName": "InCSV_NEW"
							},
							"SRTableColorTool": {
								"TableName": "COLOR_TOOL"
							},
							"SKFileColorToolRejectCSV": {
								"Container_Name": "Test",
								"File_Name": "Color_Tool_Rejectedcsv"
							},
							"SKTableColorTool": {
								"TableName": "COLOR_TOOL"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			},
			{
				"name": "Copy data to Color_Tool CSV",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SET_MAX_COLOR_TOOL_ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from [dbo].[COLOR_TOOL] where COLOR_TOOL_ID  > @{variables('Max_COLOR_TOOL_ID')}",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "COLOR_TOOL_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "COLOR_TOOL_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "COLOR_TOOL_NAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "COLOR_TOOL_NAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "COLOR_TOOL_TYPE_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "COLOR_TOOL_TYPE_ID",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQLDynamicDS",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "COLOR_TOOL"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedTextDymanicCSVFiles",
						"type": "DatasetReference",
						"parameters": {
							"Container_Name": "test",
							"File_Name": "Color_Tool_APP.csv"
						}
					}
				]
			},
			{
				"name": "Copy data to Panel CSV",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DF2_Panel",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "PANEL_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PANEL_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "NAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "IS_METALLIC",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "IS_METALLIC",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CREATE_USER_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "CREATE_USER_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CREATE_DATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CREATE_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "NOTES",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NOTES",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "IS_PUBLIC",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "IS_PUBLIC",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ENTITY_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ENTITY_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "IS_INACTIVE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "IS_INACTIVE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "AUDIT_SEARCH_INDEX_DATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "AUDIT_SEARCH_INDEX_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "IS_FLAGGED",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "IS_FLAGGED",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQLDynamicDS",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "PANEL"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedTextDymanicCSVFiles",
						"type": "DatasetReference",
						"parameters": {
							"Container_Name": "test",
							"File_Name": "Panel_App.csv"
						}
					}
				]
			},
			{
				"name": "DF4_SpectralReading",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Copy Data to ColorChip Csv",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF4_SpectralReading",
						"type": "DataFlowReference",
						"datasetParameters": {
							"SRInCSV": {
								"TableName": "InCSV_NEW"
							},
							"SRPanel": {
								"TableName": "Panel"
							},
							"SKSpectralReading": {
								"TableName": "SPECTRAL_READING"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			},
			{
				"name": "DF5_SpectralMeasurement",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "DF4_SpectralReading",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF5_SpectralMeasurement",
						"type": "DataFlowReference",
						"datasetParameters": {
							"SRInCSV": {
								"TableName": "InCSV_NEW"
							},
							"SRPanel": {
								"TableName": "PANEL"
							},
							"SRSpectralReading": {
								"TableName": "SPECTRAL_READING"
							},
							"SKSpectralMeasurement": {
								"TableName": "SPECTRAL_MEASUREMENT"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "SET_MAX_COLOR_TOOL_ID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DF1_ColorTool",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "MAX_COLOR_TOOL_ID",
					"value": "@last(split( string(activity('DF1_ColorTool').output.runStatus.output.cache.value[0].\nMAX_COLOR_TOOL_ID),':'))"
				}
			}
		],
		"variables": {
			"MAX_COLOR_TOOL_ID": {
				"type": "String"
			}
		},
		"annotations": []
	}
}