pipeline/PL_ColorDataMosiac.json
{
	"name": "PL_ColorDataMosiac",
	"properties": {
		"activities": [
			{
				"name": "DF3_ColorChip",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Log data to Panel CSV",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF3_ColorChip",
						"type": "DataFlowReference",
						"datasetParameters": {
							"SRInCsv": {
								"TableName": "InCSV_NEW"
							},
							"SRTableColorChip": {
								"TableName": "COLOR_CHIP"
							},
							"SRTablePanel": {
								"TableName": "PANEL"
							},
							"SRInCsvRej": {
								"TableName": "InCSV_NEW"
							},
							"SRTableColorTool": {
								"TableName": "COLOR_TOOL"
							},
							"SKTableColorChip": {
								"TableName": "COLOR_CHIP"
							},
							"SKFileColorCHIP": {
								"Container_Name": "test",
								"File_Name": "NewColorChip.csv"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			},
			{
				"name": "Log data to ColorChip CSV",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SET_MAX_COLOR_CHIP_ID",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from [dbo].[COLOR_CHIP] where COLOR_CHIP_ID > @{variables('MAX_COLOR_CHIP_ID')}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "COLOR_CHIP_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "COLOR_CHIP_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PANEL_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PANEL_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CHIP_SOURCE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CHIP_SOURCE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATED_DATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LAST_UPDATED_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "COLOR_TOOL_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "COLOR_TOOL_ID",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQLDynamicDS",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "COLOR_CHIP"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedTextDymanicCSVFiles",
						"type": "DatasetReference",
						"parameters": {
							"Container_Name": "test",
							"File_Name": "Color_Chip_App.csv"
						}
					}
				]
			},
			{
				"name": "DF2_Panel",
				"description": "new",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Log data to Color_Tool CSV",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF2_Panel",
						"type": "DataFlowReference",
						"datasetParameters": {
							"SRInCsv": {
								"TableName": "InCSV_NEW"
							},
							"SRTableUserProfile": {
								"TableName": "USER_PROFILE"
							},
							"SRTablePanel": {
								"TableName": "PANEL"
							},
							"SRInCsvTable": {
								"TableName": "InCSV_NEW"
							},
							"SKTablePanel": {
								"TableName": "PANEL"
							},
							"SKFileRejectionCSV": {
								"Container_Name": "test",
								"File_Name": "Rejected_Panel.csv"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			},
			{
				"name": "DF1_ColorTool",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF1_ColorTool",
						"type": "DataFlowReference",
						"datasetParameters": {
							"SRINCSV": {
								"TableName": "InCSV_NEW"
							},
							"SRInCSVtable": {
								"TableName": "InCSV_NEW"
							},
							"SRTableColorTool": {
								"TableName": "COLOR_TOOL"
							},
							"SKFileColorToolRejectCSV": {
								"Container_Name": "test",
								"File_Name": "ColorToolRejected.csv"
							},
							"SKTableColorTool": {
								"TableName": "COLOR_TOOL"
							}
						}
					},
					"compute": {
						"coreCount": 32,
						"computeType": "General"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			},
			{
				"name": "Log data to Color_Tool CSV",
				"description": "test ",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SET_MAX_COLOR_TOOL_ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from [dbo].[COLOR_TOOL] where COLOR_TOOL_ID  > \n@{variables('MAX_COLOR_TOOL_ID')}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "COLOR_TOOL_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "COLOR_TOOL_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "COLOR_TOOL_NAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "COLOR_TOOL_NAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "COLOR_TOOL_TYPE_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "COLOR_TOOL_TYPE_ID",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQLDynamicDS",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "COLOR_TOOL"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedTextDymanicCSVFiles",
						"type": "DatasetReference",
						"parameters": {
							"Container_Name": "test",
							"File_Name": "Color_Tool_APP.csv"
						}
					}
				]
			},
			{
				"name": "Log data to Panel CSV",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SET_MAX_PANEL_ID",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from [dbo].[PANEL] where PANEL_ID  > @{variables('MAX_PANEL_ID')}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "PANEL_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PANEL_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "NAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CREATE_DATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CREATE_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "NOTES",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NOTES",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "IS_PUBLIC",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "IS_PUBLIC",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ENTITY_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ENTITY_ID",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQLDynamicDS",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "PANEL"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedTextDymanicCSVFiles",
						"type": "DatasetReference",
						"parameters": {
							"Container_Name": "test",
							"File_Name": "Panel_APP.csv"
						}
					}
				]
			},
			{
				"name": "DF4_SpectralReading",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Log data to ColorChip CSV",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF4_SpectralReading",
						"type": "DataFlowReference",
						"datasetParameters": {
							"SRInCsv": {
								"TableName": "InCSV_NEW"
							},
							"SRTablePanel": {
								"TableName": "PANEL"
							},
							"SRTableSpectralReading": {
								"TableName": "SPECTRAL_READING"
							},
							"SRInCsvRejFile": {
								"TableName": "InCSV_NEW"
							},
							"SKTableSpectralReading": {
								"TableName": "SPECTRAL_READING"
							},
							"SKFileReadingRejectCSV": {
								"Container_Name": "test",
								"File_Name": "REJECTED_SPECTRAL_READING"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			},
			{
				"name": "DF5_SpectralMeasurement",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Log data to Reading CSV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF5_SpectralMeasurement",
						"type": "DataFlowReference",
						"datasetParameters": {
							"SRInCSV": {
								"TableName": "InCSV_NEW"
							},
							"SRTableSPECTRALMEASUREMENT": {
								"TableName": "SPECTRAL_MEASUREMENT"
							},
							"SRTableSpectralReading": {
								"TableName": "SPECTRAL_READING"
							},
							"SRInCsvRejFile": {
								"TableName": "InCSV_NEW"
							},
							"SRTablePanel": {
								"TableName": "PANEL"
							},
							"SKSpectralMeasurement": {
								"TableName": "SPECTRAL_MEASUREMENT"
							},
							"SKFileMeasurementRejectCSV": {
								"Container_Name": "test",
								"File_Name": "SPECTRAL_MEASUREMENT_Rejected.csv"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			},
			{
				"name": "SET_MAX_COLOR_TOOL_ID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DF1_ColorTool",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "MAX_COLOR_TOOL_ID",
					"value": {
						"value": "@activity('DF1_ColorTool').output.runStatus.output.SKCacheMAXCOLORCORDINATEID.value[0].MAX_COLOR_TOOL_ID",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SET_MAX_PANEL_ID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DF2_Panel",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "MAX_PANEL_ID",
					"value": {
						"value": "@activity('DF2_Panel').output.runStatus.output.SKCacheMAXPANELID.value[0].MAX_PANELID",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SET_MAX_COLOR_CHIP_ID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DF3_ColorChip",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "MAX_COLOR_CHIP_ID",
					"value": {
						"value": "@activity('DF3_ColorChip').output.runStatus.output.SKCacheMAXCOLORCHIPID.value[0].MAX_COLOR_CHIP_ID",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SET_MAX_READING_ID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DF4_SpectralReading",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "MAX_READING_ID",
					"value": {
						"value": "@activity('DF4_SpectralReading').output.runStatus.output.SKCacheMAXREADINGID.value[0].MAX_READING_ID",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Log data to Reading CSV",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SET_MAX_READING_ID",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from [dbo].[SPECTRAL_READING] where READING_ID > @{variables('MAX_READING_ID')}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "READING_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "READING_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PANEL_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PANEL_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "READING_DATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "READING_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "MEASUREMENT_SCHEME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MEASUREMENT_SCHEME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DEVICE_NAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DEVICE_NAME",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQLDynamicDS",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "SPECTRAL_READING"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedTextDymanicCSVFiles",
						"type": "DatasetReference",
						"parameters": {
							"Container_Name": "test",
							"File_Name": "SPECTRAL_READING_App.csv"
						}
					}
				]
			},
			{
				"name": "SET_MAX_MEASUREMENT_ID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DF5_SpectralMeasurement",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "MAX_MEASUREMENT_ID",
					"value": {
						"value": "@activity('DF5_SpectralMeasurement').output.runStatus.output.SKCacheMAXMEASUREMENTID.value[0].MAX_MEASUREMENT_ID",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Log data to Measurement CSV",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SET_MAX_MEASUREMENT_ID",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from [dbo].[SPECTRAL_MEASUREMENT] where READING_ID > @{variables('MAX_MEASUREMENT_ID')}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "MEASUREMENT_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "MEASUREMENT_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "READING_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "READING_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "GEOMETRY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "GEOMETRY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "RAW_DATA",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RAW_DATA",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQLDynamicDS",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "SPECTRAL_MEASUREMENT"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedTextDymanicCSVFiles",
						"type": "DatasetReference",
						"parameters": {
							"Container_Name": "test",
							"File_Name": "SPECTRAL_MEASUREMENT_App.csv"
						}
					}
				]
			},
			{
				"name": "pipeline_DF6_ColorCoordinateTest",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Log data to Measurement CSV",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pipeline_DF6_ColorCoordinateTest",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"variables": {
			"MAX_COLOR_TOOL_ID": {
				"type": "Integer"
			},
			"MAX_PANEL_ID": {
				"type": "Integer"
			},
			"MAX_COLOR_CHIP_ID": {
				"type": "Integer"
			},
			"MAX_READING_ID": {
				"type": "Integer"
			},
			"MAX_MEASUREMENT_ID": {
				"type": "Integer"
			},
			"SET_MAX_COLOR_COORDINATE_ID": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}