pipeline/PL_ColorDataMosiac_copy1.json
{
	"name": "PL_ColorDataMosiac_copy1",
	"properties": {
		"activities": [
			{
				"name": "CheckExistenceOfTables",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLS",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "DECLARE @AllTablesExist BIT\nSET @AllTablesExist = 1 -- Initialize to true\n\n-- Check if COLOR_TOOL table exists\nIF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'COLOR_TOOL' AND TABLE_SCHEMA = 'dbo')\n    SET @AllTablesExist = 0\n\n-- Check if PANEL table exists\nIF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'PANEL' AND TABLE_SCHEMA = 'dbo')\n    SET @AllTablesExist = 0\n\n-- Check if COLOR_CHIP table exists\nIF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'COLOR_CHIP' AND TABLE_SCHEMA = 'dbo')\n    SET @AllTablesExist = 0\n\n-- Check if SPECTRAL_READING table exists\nIF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'SPECTRAL_READING' AND TABLE_SCHEMA = 'dbo')\n    SET @AllTablesExist = 0\n\n-- Check if SPECTRAL_MEASUREMENT table exists\nIF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'SPECTRAL_MEASUREMENT' AND TABLE_SCHEMA = 'dbo')\n    SET @AllTablesExist = 0\n\n-- Check if COLOR_COORDINATE table exists\nIF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'COLOR_COORDINATE' AND TABLE_SCHEMA = 'dbo')\n    SET @AllTablesExist = 0\n\n-- Check if USER_PROFILE table exists\nIF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'USER_PROFILE' AND TABLE_SCHEMA = 'dbo')\n    SET @AllTablesExist = 0\n\n-- Return the status\nSELECT @AllTablesExist AS AllTablesExist\n"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CheckExistenceOfTables",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('CheckExistenceOfTables').output.resultSets[0].rows[0].AllTablesExist, 1)\n\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "PL_ColorDataMosiac",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_ColorDataMosiac",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST"
				},
				"linkedServiceName": {
					"referenceName": "WebLS123",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"MAX_COLOR_TOOL_ID": {
				"type": "Integer"
			},
			"MAX_PANEL_ID": {
				"type": "Integer"
			},
			"MAX_COLOR_CHIP_ID": {
				"type": "Integer"
			},
			"MAX_READING_ID": {
				"type": "Integer"
			},
			"MAX_MEASUREMENT_ID": {
				"type": "Integer"
			},
			"SET_MAX_COLOR_COORDINATE_ID": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}